<div id="container">

  {{> navigation}}

  <div id="car-listings">
    <h1>Car Listings</h1>

    <div id="listings">

      {{#if hasCars}}
      {{#each cars}}
      <div class="listing">
        <p>{{this.title}}</p>
        <img src="{{this.imageUrl}}">
        <h2>Brand: {{this.brand}}</h2>
        <div class="info">
          <div id="data-info">
            <h3>Seller: {{this.seller}}</h3>
            <h3>Fuel: {{this.fuel}}</h3>
            <h3>Year: {{this.year}}</h3>
            <h3>Price: {{this.price}} $</h3>
          </div>
          <div id="data-buttons">
            <ul>
              <li class="action">
                <a href="#/details/:{{this._id}}" class="button-carDetails">Details</a>
              </li>
              {{#if this.isAuthor}}
              <li class="action">
                <a href="#/edit/:{{this._id}}" class="button-carDetails">edit</a>
              </li>
              <li class="action">
                <a href="#/delete/:{{this._id}}" class="button-carDetails">delete</a>
              </li>
              {{/if}}
            </ul>
          </div>
        </div>

      </div>
      {{/each}}
      {{else}}
      <p class="no-cars">No cars in database.</p>
      {{/if}}

    </div>
  </div>

  {{> footer}}

</div>

{{!-- {{> notification}} --}}